/* Konfigurasi js */
.navbar{
    transition: background-color .5s ease-in-out;
}

.cv{
    transition: border .5s ease-in-out;
}

.navbar.scrolled {
    background-color: rgba(89, 52, 235, 1);
    /* Warna ungu saat di-scroll */
}

.navbar.scrolled1 {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.07);
}

.cv.scrolled {
    border: 1px solid white;
}

/* Progress bar style */
.sec1 progress,
.sec2 progress,
.sec3 progress {
    width: 100%;
    appearance: none;
    transition: width 1s ease-in-out;
    /* Smooth transition */
}

progress::-webkit-progress-bar {
    background-color: #e8e8e8;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: rgb(89, 52, 235);
    border-radius: 10px;
    animation: load 1s ease-in-out forwards;
}