/* Font Face */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'fredoka';
    src: url('../fonts/Fredoka.ttf') format('truetype');
}

html {
    background-color: rgb(237, 237, 237);
}

/* Navbar */

body .navbar {
    width: 100%;
    background-color: rgba(89, 52, 235, 0);
    display: flex;
    position: fixed;
    padding: 13px 60px;
    z-index: 999;
}

body .navbar h1 {
    position: relative;
    font-size: 22px;
    font-family: raleway;
    font-weight: 8;
    color: rgb(237, 237, 237);
    margin: auto;
}

body .navbar .right {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.navbar .right ul {
    display: flex;
}

.right ul li {
    font-family: fredoka;
    padding: 18px 0;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
}

ul li a:hover {
    background-color: rgb(89, 52, 235);
    transition: background-color 0.5s ease-in-out;
}

.navbar .right .line {
    width: 1px;
    height: 40px;
    margin: 9px 30px;
    background-color: white;
}

.navbar .right .cv {
    padding: 18px 10px;
    display: flex;
    border-radius: 50px;
    background-color: rgb(89, 52, 235);
}

.navbar .right .cv i {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 5px;
}

.right .cv p a {
    color: rgb(237, 237, 237);
    font-family: fredoka;
    text-decoration: none;
}

/* Container 1 */
.container1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 830px;
    background-image: url(../img/img-self1.jpg);
    background-size: cover;
    background-position: center;
}

.container1 h2 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: inter;
    font-size: 50px;
    font-weight: 250;
    line-height: 50px;
    margin-bottom: 20px;
}

.container1 .bg-trans {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 830px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.bg-trans .text {
    padding: 40vh 25vh;
}

.bg-trans .text a {
    padding: 15px 20px;
    border: none;
    border-radius: 16px;
    font-family: fredoka;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgb(89, 52, 235);
    margin-top: 2px;
    text-decoration: none;
}

.container1 img {
    z-index: 0;
}

.container1 h2 span {
    font-size: 25px;
    font-weight: 200;
}

.bg-hub1 {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .7), rgba(0, 0, 0, .6), rgba(0, 0, 0, .5), rgba(0, 0, 0, .4), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
}

.bg-hub2 {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .7), rgba(0, 0, 0, .6), rgba(0, 0, 0, .5), rgba(0, 0, 0, .4), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
}

.bg-hub3 {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .7), rgba(0, 0, 0, .6), rgba(0, 0, 0, .5), rgba(0, 0, 0, .4), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
}

/* About Me */

.about {
    padding: 35px;
    width: 100%;
    height: 770px;
}

.about .text1 h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: inter;
    margin-bottom: 3px;
}

.about .text1 h3 {
    color: rgb(89, 52, 235);
    font-size: 18px;
    font-weight: 500;
    font-family: inter;
}

.about .text1 p {
    font-family: inter;
    font-weight: 400;
}

.content00 .text2 h3 {
    font-size: 24px;
    color: rgb(89, 52, 235);
    font-weight: 500;
}

.content00 .text2 h2 {
    font-size: 18px;
    font-weight: 400;
}

.about .content00 {
    padding: 70px;
    display: flex;
    align-items: center;
    width: 85%;
    margin: 100px auto 0;
}

.content00 .img {
    width: 50%;
}

.content00 .text1 {
    width: 50%;
}

.content00 .mg-auto {
    margin: auto;
}

.content00 .img-self {
    width: 400px;
    height: 500px;
    background-image: url(../img/img-self2.jpg);
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}

.content00 .text1 {
    padding: 20px;
}

.content00 .text1 .sosmed {
    display: flex;
}

.sosmed .instagram,
.sosmed .tiktok,
.sosmed .line {
    padding: 8px 10px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.188);
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.sosmed .instagram:hover {
    background-color: rgb(89, 52, 235);
    color: white;
    transition: all 0.3s ease-in-out;
}

.sosmed .tiktok:hover {
    background-color: rgb(89, 52, 235);
    color: white;
    transition: all 0.3s ease-in-out;
}

.sosmed .line:hover {
    background-color: rgb(89, 52, 235);
    color: white;
    transition: all 0.3s ease-in-out;
}

.sosmed .instagram i,
.sosmed .tiktok i,
.sosmed .line i {
    font-size: 30px;
}

/* Skills */

.skills {
    padding: 155px 155px 70px;
    width: 100%;
}

.skills .content .desc-singkat {
    display: flex;
}

.content .desc-singkat .text {
    align-items: center;
    margin: auto 20px;
}

.skills .content .desc-singkat img {
    height: 400px;
    max-width: 400px;
}

.skills .content h2.title {
    font-size: 18px;
    font-weight: 600;
    font-family: inter;
    color: rgb(89, 52, 235);
}

.skills .content .text h3.sub-title {
    font-weight: 600;
    font-family: inter;
    font-size: 20px;
    margin-bottom: 10px;
}

.skills .content .text h3 {
    font-weight: 400;
    font-family: inter;
    font-size: 16px;
    margin: auto;
}

.skills .content .skillss h3 {
    font-weight: 400;
    font-family: inter;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.skills .skillss {
    margin-top: 20px;
}

.skills .content .sec1,
.skills .content .sec2 {
    display: flex;
    width: 100%;
}

.content .sec1 .skill1,
.content .sec1 .skill2,
.content .sec2 .skill1,
.content .sec2 .skill2,
.content .sec1 .skill3,
.content .sec2 .skill3 {
    width: 50%;
    background-color: white;
    box-shadow: 0 0 8px rgb(147, 147, 147);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.content .sec1 .skill1,
.content .sec2 .skill1,
.content .sec1 .skill2,
.content .sec2 .skill2 {
    margin-right: 20px;
}

.content .sec1 .skill1 i {
    color: #ed5034;
}

.content .sec1 .skill2 i {
    color: #0779ba;
}

.content .sec2 .skill1 i {
    color: #07b8f2;
}

.content .sec2 .skill2 i {
    color: #5c81b5;
}

.content .sec2 .skill3 i {
    color: #000000;
}

.content .sec2 .skill3 i {
    color: #eec703;
}

/* ada di app.css */
/* .sec1 progress, 
.sec2 progress,
.sec3 progress {
    width: 100%;
    appearance: none;
} */

.sec1 .title,
.sec2 .title {
    display: flex;
    margin-bottom: 10px;
}

.sec1 .title i,
.sec2 .title i {
    margin-left: 5px;
    font-size: 20px;
}

/* Projects */
.projects {
    /* background-color: rgb(0, 0, 0); */
    padding: 155px;
}

.projects h2 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    font-family: inter;
    font-weight: 600;
    color: rgb(89, 52, 235);
}

/* carousel projects */
.projects .carousel .carousel-inner {
    border-radius: 10px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.342);
}

.projects .carousel .carousel-inner {
    background-color: black;
}

.projects .project2 {
    margin: 20px 0;
}

.projects .carousel-item h5 {
    font-size: 18px;
    font-family: inter;
    margin-bottom: 8px;
}

.projects .carousel-item p {
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
}

.projects .card-body h5 {
    font-size: 18px;
    font-family: inter;
    color: rgb(89, 52, 235);
}

.projects .card-body p {
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
}

/* Experiences */
.experiences {
    background-color: rgb(0, 0, 0);
    padding: 155px 0;
    height: 950px;
}

.experiences h2 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    font-family: inter;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.experiences .carousel-caption h5 {
    font-size: 18px;
    font-family: inter;
    margin-bottom: 8px;
}

.experiences .carousel-caption p {
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
}

/* Send Email */
.send-email {
    padding: 60px 80px;
    display: flex;
    width: 100%;
}

.send-email .email {
    width: 50%;
    margin: auto;
    padding: 30px;
}

.send-email .email form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.262);
}

.send-email .img {
    width: 50%;
    padding: 0 60px;
}

.send-email .img .desc {
    display: flex;
}

.send-email .img .desc h3 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}

.img .desc .folme {
    width: 40%;
} 

.desc .folme h3.title {
    font-weight: 700;
    color: rgb(89, 52, 235);
}

.img .desc .greeting {
    width: 60%;
    padding: 0 30px 0 0;
} 

.send-email .img .sosmed {
    display: flex;
    align-items: center;
    width: 100%;
}

.send-email .email form {
    font-family: inter;
    font-weight: 500;
}

.send-email .email form .title {
    display: flex;
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    width: 100%;
}

form .title {
    padding: 0 260px;
    margin-bottom: 10px;
    color: rgb(89, 52, 235);
}

form .title i {
    margin-right: 8px;
}

form label {
    margin-bottom: 6px;
}

form input {
    margin-bottom: 8px;
}

form textarea {
    margin-bottom: 8px;
}

form button.btn {
    background-color: rgb(89, 52, 235);
    color: white;
}